#profilePicture {
    height: 200px;
    width: 200px;
    border-radius: 100%;
    margin-bottom: 10px;
    box-shadow: 5px 5px 15px grey;
}

#profileInfo {
    margin-top: 40px;
    text-align: center;
}

#username {
    margin-bottom: 12px;
}

#listings {
    margin-top: 30px;
}

.col-auto {
    padding: 0;
}

#location {
    margin-left: 4px;
    margin-bottom: 0;
}

#editProfileButton {
    margin-top: 36px;
}

#newListingContainer {
    margin-top: 50px;
}

#newListingButton {
    background-color: #68A691;
    border: none;
}