#messageInput {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#sendButton {
    background-color: rgb(104, 166, 145);
    color: white;
    border: none;
}

#inputGroup {
    margin-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

#messages {
    padding: 20px;
    /* max-height: 700px; */
    overflow-y: scroll;
    background-color: rgb(238, 238, 238);
    flex-grow: 1;
}

.message {
    height: 50px;
}

#messagingContainer {
    height: 80vh;
    display: flex;
    flex-flow: column;
}