#messageInput {
    -webkit-box-shadow: none;
    box-shadow: none;
}

#sendButton {
    background-color: rgb(104, 166, 145);
    color: white;
    border: none;
}

#inputGroup {
    margin-top: 16px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

#messages {
    padding: 20px;
    overflow-y: auto;
    height: 100%;
}

#messagesInner {
    max-width: 1000px;
    margin: 0 auto;
}

.messages-right {
    text-align: right;
}

.msg {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 50px;
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 5px;
}

.msg-left {
    border-top-left-radius: 10px;
    background-color: rgb(104, 166, 145);
    color: white;
}

.msg-right {
    border-top-right-radius: 10px;
    background-color: rgb(241, 241, 241);
    color: rgb(39, 39, 39);
}

.startMessageLeft {
    margin-bottom: 0;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 10px;
}

.middleMessageLeft {
    margin-bottom: 0;
    border-bottom-left-radius: 10px;
}

.startMessageRight {
    margin-bottom: 0;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 10px;
}

.middleMessageRight {
    margin-bottom: 0;
    border-bottom-right-radius: 10px;
}

.time {
    font-size: 0.9em;
    color: rgb(158, 158, 158);
}

.time-left {
    margin-left: 4px;
}

.time-right {
    margin-right: 4px;
}

.messageProfilePicture {
    margin-right: 10px;
    height: 35px;
    width: 35px;
    object-fit: cover;
    border-radius: 50px;
}

.newDay {
    text-align: center;
    font-weight: 300;
    font-size: 0.9em;
    margin-top: 20px;
}

#container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
}

#back {
    border-radius: 0;
    display: inline;
}

#backIcon {
    height: 20px;
    width: 20px;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    cursor: pointer;
}

#backIcon2 {
    height: 20px;
    width: 20px;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    visibility: hidden;
}

#rightSpace {
    margin-right: 40px;
}

#otherUser {
    font-size: 1.2em;
    font-weight: 600;
    background-color: rgb(247, 247, 247);
    padding: 5px;
    box-shadow: 5px 5px 15px rgba(128, 128, 128, 0.384);
}

.attachment {
    border-radius: 10px;
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.attachmentContainerLeft {
    margin-bottom: 20px;
    text-align: left;
}

.attachmentContainerRight {
    margin-bottom: 20px;
    text-align: right;
}

.attachmentMessageText {
    margin-top: 50px;
    margin-right: 4px;
    margin-bottom: 0;
    font-size: 0.8em;
    color: rgb(158, 158, 158);
}

.attachmentMessageTextCont {
    margin-bottom: 5px;
    margin-right: 4px;
    font-size: 0.8em;
    color: rgb(158, 158, 158);
}