<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <img src={{listingObject.imageUrl}} alt="profile picture" id="listingPicture">
            </div>
            <div class="col">
                <h5>{{listingObject.description}}</h5>
            </div>
            <div class="col">
                {{listingObject.price | currency}}
            </div>
            <div class="col-auto">
                <!-- <button class="btn btn-light" id="editButton">Edit</button> -->
                <button (click)="remove()" class="btn btn-danger" id="removeButton">Remove</button>
            </div>
        </div>
    </div>
</div>