<div class="card" (click)="onClick()">
    <div class="card-body">
        <div class="row">
            <div class="col-auto">
                <img src={{otherUser.picture}} alt="profile picture" id="listingPicture">
            </div>
            <div class="col">
                <div class="row">
                    <h5 *ngIf="message.toUser.username != thisUser.username">{{message.toUser.username}}</h5>
                    <h5 *ngIf="message.fromUser.username != thisUser.username">{{message.fromUser.username}}</h5>
                </div>
                <div class="row">
                    <p id="preview">{{message.message}}</p>
                </div>
            </div>
            <div class="col-auto">
                <p id="timeAgo">{{agoTime}}</p>
            </div>
        </div>
    </div>
</div>