<div id="back">
    <div class="container">
        <h1><b>Swipe</b>Shop</h1>
        <div class="input-group mb-3">
            <input [(ngModel)]="username" type="text" class="form-control" placeholder="username" aria-label="Username" aria-describedby="basic-addon1">
        </div>

        <div class="input-group mb-3">
            <input [(ngModel)]="password" type="password" class="form-control" placeholder="password" aria-label="Password" aria-describedby="basic-addon1">
        </div>

        <h5 *ngIf="error">Sorry, there was a problem loggin in, please try again</h5>
        <br>

        <a href="sign-up">Don't have an account? Sign up here</a>
        <br>

        <button (click)="login()" class="btn btn-dark">Login</button>
    </div>
</div>