h1 {
    margin-bottom: 30px;
    color: #68A691;
    font-size: 5em;
}

#back {
    background-color: #68A691;
    text-align: center;
    /* height: 100vh; */
}

.container {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.input-group {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

button {
    margin-top: 20px;
}