<app-header></app-header>

<div class="container" id="profileInfo">
    <img src={{userProfile.picture}} alt="profile picture" id="profilePicture">
    <h1 id="username">{{userProfile.username}}</h1>
    <div class="row" id="locationRow">
        <div class="col"></div>
        <div class="col-auto">
            <img src="../assets/location.png" alt="location">
        </div>
        <div class="col-auto">
            <h5 id="location">{{userProfile.location}}</h5>
        </div>
        <div class="col"></div>
    </div>
    <!-- <button *ngIf="isMyProfile" class="btn btn-light" id="editProfileButton" (click)="editProfile()">Edit Profile</button> -->
</div>

<div *ngIf="isMyProfile" class="container" id="newListingContainer">
    <button (click)="newListing()" class="btn btn-dark" id="newListingButton">New Listing</button>
</div>

<div class="container" id="listings">
    <app-listing-card *ngFor="let object of userProfile.listings" [listingObject]="object"></app-listing-card>
</div>