<app-header></app-header>

<div class="container">
    <img id="imagePreview" src="{{imageUrl}}" onerror="this.src='https://dubsism.files.wordpress.com/2017/12/image-not-found.png'" alt="">
    <div class="input-group mb-3">
        <input [(ngModel)]="imageUrl" type="text" class="form-control" placeholder="image url" aria-label="image url" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <input [(ngModel)]="name" type="text" class="form-control" placeholder="name" aria-label="name" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">$</span>
        </div>
        <input [(ngModel)]="price" type="number" class="form-control" placeholder="price" aria-label="price" aria-describedby="basic-addon1">
    </div>
    <button (click)="submit()" class="btn btn-dark">Submit</button>
</div>